---
import SectionTitle from "../components/SectionTitle.astro";
import Referanslar from "../components/Referanslar.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Hakkımızda Yazılanlar">
    <main>
        <SectionTitle
            title="Uygulamamızı Seviyorlar!"
            subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tibi hoc incredibile, quod beatissimum."
            minititle="Referanslarımız"
        />

        <Referanslar />
    </main>
</Layout>