---
import Layout from "../layouts/Layout.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Pricing from "../components/Pricing.astro";
---

<Layout title="Ücret Bilgileri">
    <main>
        <SectionTitle
            title="Ödeme Seçenekleri"
            subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tibi hoc incredibile, quod beatissimum."
            minititle="Uygun Fiyatlandırma"
        />
        <div class="mt-5">
            <Pricing />

        </div>
    </main>
    
</Layout>