---
---
<footer class="pt-5">
    <div class="row">
      <div class="col-6 col-md-6 mb-3">
        <a href="/"><img src="/branding/logo.svg" alt="Sonatipek yatay logosu" width="25%"></a>
        
        <p class="mt-2 pe-3 text-info-emphasis w-75">Bilgisayar Programcılığı 2. Sınıf öğrencisiyim. Üç senedir freelance olarak farklı sektörden iş yerlerini dijital ortama kazandırdım. Temiz kodlama ve modern tasarım anlayışı ile müşterilerime destek oluyorum.</p>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Ürünler Hakkında</h5>
        <ul class="nav flex-column text-info-emphasis">
          <li class="nav-item mb-2"><a href="/ucretbilgileri" class="nav-link p-0 text-info-emphasis">Ücret Bilgileri</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Hakkımızda</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/referanslar" class="nav-link p-0 text-info-emphasis">Referanslar</a></li>
          <li class="nav-item mb-2"><a href="/sikcasorulanlar" class="nav-link p-0 text-info-emphasis">S.S.S.</a></li>
        </ul>
      </div>

      <div class="col-md-2 mb-3">
        <h5>Liste Linkleri</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/topluluklar" class="nav-link p-0 text-info-emphasis">Topluluk Listesi</a></li>
          <li class="nav-item mb-2"><a href="/ogrenciler" class="nav-link p-0 text-info-emphasis">Öğrenci Listesi</a></li>
        </ul>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top text-info-emphasis">
      <p>&copy; 2023 Sonat Saygın İpek. Tüm hakları saklıdır.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="https://github.com/sonatipek" target="_blank"><i class="fa-brands fa-github text-info-emphasis"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="https://linkedin.com/in/sonatipek" target="_blank"><i class="fa-brands fa-linkedin-in text-info-emphasis"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="https://instagram.com/sonatipek" target="_blank"><i class="fa-brands fa-instagram text-info-emphasis"></i></a></li>
      </ul>
    </div>
</footer>