---
import ReferansItem from "./ReferansItem.astro";

---
<div class="row row-cols gap-3 rounded my-5">

    <ReferansItem 
        desc="$store.veriler.referans1Text"
        user="Sonat Ipek"
        place="Samsun"
        img_path="/avatars/avatar_4.svg"
    />
    <ReferansItem 
    desc="$store.veriler.referans2Text"
        user="Gökçen Türk"
        place="İstanbul"
        img_path="/avatars/avatar_2.svg"
    />

    <ReferansItem 
    desc="$store.veriler.referans3Text"
        user="Ülkü Durmaz"
        place="İzmir"
        img_path="/avatars/avatar_1.svg"
    />

    <ReferansItem 
    desc="$store.veriler.referans4Text"
        user="Turan Ülkü"
        place="İstanbul"
        img_path="/avatars/avatar_3.svg"
    />

    <ReferansItem 
    desc="$store.veriler.referans5Text"
        user="Ülkem Aydın"
        place="Erzurum"
        img_path="/avatars/avatar_2.svg"
    />
</div>