---
const {title, subtitle, minititle } = Astro.props;

---
<div class="w-50 text-center mx-auto px-5 mb-3">
  <h4 class="fw-semibold fs-6 text-uppercase text-primary pt-5">{minititle}</h4>
  <h2 class="fs-1 fw-medium mb-4 text-dark">{title}</h2>
  <p class="fs-5 text-secondary">{subtitle}</p>
</div>
